{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <a href={% url 'select_account' %}>Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card mb-5">
                <div class="card-header">
                    <div class="fs-4">{{ account.owner.username|capfirst }}</div>
                </div>
                <div class="card-body">
                    <div class="fs-2 mb-4">Balance: ${{ account.balance|floatformat:2 }}</div class="fs-4">
                    {% if perms.savings.add_deposit %}
                        <div class="d-grid gap-2">
                            <a href={% url 'deposit' account.uuid %} class="btn btn-success">Deposit +</a>
                            <a href={% url 'withdrawal' account.uuid %} class="btn btn-warning">Withdraw -</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h5>Recent Transactions</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Transaction</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Memo</th>
                        {% if perms.savings.add_deposit %}
                        <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in account.transaction_set.all|slice:":5" %}
                        <tr>
                            <td>{{ transaction.get_type_display }}</td>
                            {% if transaction.get_type_display == "Deposit" %}
                                <td>&nbsp;${{ transaction.amount }}</td>
                            {% else %}
                                <td>-${{ transaction.amount }}</td>
                            {% endif %}
                            <td>{{ transaction.timestamp|date:"d M Y" }}</td>
                            <td>
                                {% if transaction.memo %}
                                <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ transaction.memo }}">Memo</a></td>
                                {% endif %}
                            </td>    
                            {% if perms.savings.add_deposit %}
                            <td><a href={% url 'edit_transaction' transaction.id %}>Edit/Delete</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock scripts %}