{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-2">Deposit</h2>
            {% if form.errors %}
                <p class="text-danger">Please enter an amount to deposit</p>
            {% endif %}

            <form method="post" action={% url 'deposit' account.uuid %}>
                {% csrf_token %}
                <div class="form-group">
                    <label for="amount" class="form-label">{{ form.amount.label }}: </label>
                    {{ form.amount|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="memo" class="form-label">{{ form.memo.label }}: </label>
                    {{ form.memo|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success mt-2">Make deposit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}