{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <a href={% url 'account_details' transaction.account.uuid %}>Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if transaction.type == 0 %}
                <h2 class="mb-2">Withdrawal</h2>
            {% else %}
                <h2 class="mb-2">Deposit</h2>
            {% endif %}
            
            {% if form.errors %}
                <p class="text-danger">Please enter an amount</p>
            {% endif %}

            <form method="post" action={% url 'edit_transaction' transaction.id %}>
                {% csrf_token %}
                <div class="form-group">
                    <label for="amount" class="form-label">{{ form.amount.label }}: </label>
                    {{ form.amount|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="memo" class="form-label">{{ form.memo.label }} (optional): </label>
                    {{ form.memo|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success mt-2">Save</button>
                    <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="modal fade" id="deleteModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Transaction</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure? This will delete this transaction permanently.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href={% url 'delete_transaction' transaction.id %} class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}