{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <a href={% url 'account_details' account.uuid %}>Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-2">Withdrawal</h2>
            {% if form.errors %}
                <p class="text-danger">Please enter an amount to withdraw</p>
            {% endif %}

            <form method="post" action={% url 'withdrawal' account.uuid %}>
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="amount" class="form-label">{{ form.amount.label }}: </label>
                    <div class="input-group">    
                        <span class="input-group-text">$</span>
                        {{ form.amount|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="memo" class="form-label">{{ form.memo.label }} (optional): </label>
                    {{ form.memo|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success mt-2">Make withdrawal</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}